<header class="navbar navbar-light navbar-expand-md bg-white border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            Auth App
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navCollapse"
            aria-controls="navCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <nav class="collapse navbar-collapse" id="navCollapse">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">Login</a>
                </li>
                <li class="nav-item ms-md-3 d-grid gap-2">
                    <a class="btn btn-dark" href="#">Register</a>
                </li>
            </ul>
        </nav>
    </div>
</header>