{% extends 'emails/base.html' %}

{% block content %}
    <h1>Reset your Auth App password</h1>
    <p>We heard that you lost your password. Sorry about that!</p>
    <p>But don’t worry! You can use the following button to reset your password:</p>
    <a href="{{ url }}">Reset your password</a>
    <p>If you don’t use this link within 5 minutes, it will expire. To get a new password reset link, visit: <a href="{% url 'users:password-reset' %}">{% url 'users:password-reset' %}</a></p>
    <p>Thanks, The Auth App team</p>
{% endblock %}
