{% extends 'base.html' %}

{% block title %}Change Your Password - Auth App{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-7 col-lg-6 col-xl-4">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center">Change password for @{{ username }}</h1>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="password">Password</label>
                            <input
                                class="form-control {% if form.password.errors %}is-invalid{% endif %}"
                                id="password"
                                name="password"
                                type="password"
                            >
                            <small class="invalid-feedback">
                                {% if form.password.errors %}
                                    {{ form.password.errors.0 }}
                                {% endif %}
                            </small>
                        </div>
                        <div class="mb-3">
                            <label for="password_confirmation">Confirm your password</label>
                            <input
                                class="form-control {% if form.password_confirmation.errors %}is-invalid{% endif %}"
                                id="password_confirmation"
                                name="password_confirmation"
                                type="password"
                            >
                            <small class="invalid-feedback">
                                {% if form.password_confirmation.errors %}
                                    {{ form.password_confirmation.errors.0 }}
                                {% endif %}
                            </small>
                        </div>
                        <div class="d-grip gap-2">
                            <button type="submit" class="btn btn-warning btn-lg">Change password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}