{% extends 'base.html' %}

{% block title %} {{ block.super }} Register {% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-md-7 col-lg-6 col-xl-4">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title text-center">Sign Up</h1>
                <form action="" method="POST" class="mt-5">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username">Username</label>
                        <input
                            class="form-control  {% if form.username.errors %}is-invalid{% endif %}"
                            name="username"
                            id="username"
                            type="text"
                            value="{% firstof form.username.value '' %}"
                        >
                        <small class="invalid-feedback">
                            {% if form.username.errors %}{{ form.username.errors.0 }}{% endif %}
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="email">Enter your Email</label>
                        <input
                            class="form-control  {% if form.email.errors %}is-invalid{% endif %}"
                            name="email"
                            id="email"
                            type="text"
                            value="{% firstof form.email.value '' %}"
                        >
                        <small class="invalid-feedback">
                            {% if form.email.errors %}{{ form.email.errors.0 }}{% endif %}
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="password">Choose your password</label>
                        <input
                            class="form-control {% if form.password.errors %}is-invalid{% endif %}"
                            id="password"
                            name="password"
                            type="password"
                        >
                        <small class="invalid-feedback">
                            {% if form.password.errors %}{{ form.password.errors.0 }}{% endif %}
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="password">Confirm your password</label>
                        <input
                            class="form-control {% if form.password_confirmation.errors %}is-invalid{% endif %}"
                            id="password_confirmation"
                            name="password_confirmation"
                            type="password"
                        >
                        <small class="invalid-feedback">
                            {% if form.password_confirmation.errors %}{{ form.password_confirmation.errors.0 }}{% endif %}
                        </small>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-warning btn-lg">Create account</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <small>Already have an account? <a href="{% url 'users:login' %}">Login</a></small>
            </div>
        </div>
    </div>
</div>
{% endblock %}